//- Application `scss`
//- Vue Component `scss` defined in associated components

$font-family: 'Source Code Pro';
$body-bg:     lightgreen;

body {
  margin: 40px;
  font-family: $font-family;
  background-color: $body-bg;
  font-size: 14px;
  color: blue;
}



